<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration>-->
<!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

<!--     Конфигурация для записи в файл-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        <file>application.log</file> &lt;!&ndash; Имя файла &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <fileNamePattern>application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            <maxFileSize>1MB</maxFileSize>-->
<!--            <maxHistory>10</maxHistory> &lt;!&ndash; Хранить логи за последние 30 дней &ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Конфигурация для консоли (базовая, из base.xml, но можно переопределить) &ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Логгеры для Hibernate &ndash;&gt;-->
<!--    <logger name="org.hibernate.SQL" level="INFO" additivity="false">-->
<!--&lt;!&ndash;        <appender-ref ref="FILE"/>&ndash;&gt;-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
<!--    <logger name="org.hibernate.type" level="INFO" additivity="false">-->
<!--&lt;!&ndash;        <appender-ref ref="FILE"/>&ndash;&gt;-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
<!--    <logger name="org.hibernate" level="INFO" additivity="false">-->
<!--&lt;!&ndash;        <appender-ref ref="FILE"/>&ndash;&gt;-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; Корневой логгер (для остального приложения) &ndash;&gt;-->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->

<!--</Configuration>-->