<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

     Конфигурация для записи в файл
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>logs/app.vodokanal/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Конфигурация для консоли (базовая, из base.xml, но можно переопределить) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.vodokanal.accounting" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

<!--    &lt;!&ndash; Логгеры для Hibernate &ndash;&gt;-->
<!--    <logger name="org.hibernate.SQL" level="INFO" additivity="false">-->
<!--        <appender-ref ref="FILE"/>-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
<!--    <logger name="org.hibernate.type" level="INFO" additivity="false">-->
<!--&lt;!&ndash;        <appender-ref ref="FILE"/>&ndash;&gt;-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
<!--    <logger name="org.hibernate" level="INFO" additivity="false">-->
<!--&lt;!&ndash;        <appender-ref ref="FILE"/>&ndash;&gt;-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <!-- Корневой логгер (для остального приложения) -->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->

</Configuration>